.shiping_form_wrap{
    width: 50%;
    margin: auto;
    text-transform: uppercase;

}
.name_cont,.location_cont,.contacts_cont{
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    

}
.first_name_cont,
.last_name_cont,
.Address_cont,
.city_cont,
.postCode_cont,
.email_cont,
.phoneNumber_cont,
.delivery_method_cont
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    
}
.check_adress{
    margin-bottom: 10px;
}