$marker_place: center;
*{text-align: $marker_place;}

.page_wrapper{
    width: 100%;
    max-width: 1180px;
/* max-height: 2356px; */
background-color: #ffffff;

}
.wrapper{
    display: flex;
max-width: 1180px;
padding: 0px 0px;


}
.header_container{
    max-height: 114px;
    height: 80px;
    /* border-bottom: 1px solid rgba(255, 0, 0, .1);  ; */
  
    
    color: black;
    
}

.site_content{
    max-width:1180px;
   
   min-height: 535px;
   
   width: 100%; 
  
  
}



@media(max-width:1024px){
    .page_wrapper{
        max-width:1024px;
        
    }  
    .header_container{
        height: 50px;
    }
}

@media(max-width:767px){
    .header_container{
        height: 60px;
    }

     .page_wrapper{
        max-width:767px;
        
    }  
.main_slider{
    display: none;
   
    
}

}

.offers{
   display: flex;
   justify-content: center;
  

    min-height: 590px;
    width: 100%;
}
.sign_block{
  display: flex;
  flex-direction: column;
  justify-content: center;
min-height:453px;
width: 100%;
background-color: #81a3a156;

}
.listing_gallery{
    min-height:118px ;
    background: #84ddd756;
    font-size: 0px; 
    max-width:1180px;
}
.footer{
   height: 250px;
   width: 100%;
   background-color: rgb(114, 50, 50);
}