
.product_card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product_card_description,.product_card_price{
font-size: 14px;
font-weight: 700;
}
.product_image{
    width: 96%;
    height:150px;
    min-height:208px;
    max-height:208px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.buy_button{
    color:white;
    font-size: 14px;
    text-transform: uppercase;
    background-color: rgb(252, 160, 39);
    border: 1px solid black;
    width: 150px;
    height: 30px;
}