$FONT_CATEGORY:36px;
$FONT_SHOWMORE:18px;


.button_show{
    background-color: transparent;
    text-decoration: underline;
    font-size: $FONT_SHOWMORE;
}
.category_title{
    font-size: $FONT_CATEGORY;
}
.product_category {
    
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 20px;
    }