$width_logo_image:100px;
$width_logo_image_small:80px;
$burger_line_height:2px;
$burger_line_color:#f5f114;

$burger_position_X:0;
$text_color:#241e1e;
$text_color_hover:#f1d906;
$text_size:20px;
$navbarBG_color:rgb(255, 255, 255);
$menuBG_color:rgb(255, 255, 255);

$site_width:1244px;

.mobile_login_basket{
    display: none;
}
.navbar{
position:fixed;
width: 100%;
max-width: $site_width;
top: 0;
left:50;
z-index: 10;


}

.navbar_body{
   
   display: grid;
  
    height: 80px;
    align-items: center;
grid-template-areas: "logo list search";

    img{

     display: flex;
    
    max-width: 100%;
   
    
    
    }
}
.navbar_logo{
    grid-area:logo;
  
    overflow: hidden;
    position: relative;
    z-index: 3;
}


.container{
max-width: $site_width;
margin: 0px auto;
padding: 0px 10px;
background-color: $navbarBG_color;
}
.container:before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
background-color: $navbarBG_color; 
    z-index: 2; 
}



.navbar_menu_wrapper{
    grid-area: list;
}

.navbar_list{
    
    display: flex;
    position: relative;
    z-index:2;

    .navItem{
        margin: 0 0 0 15px;
        color: $text_color;
        font-size:$text_size;
    }
    .navItem:hover{
        margin: 0 0 0 15px;
        color: $text_color_hover;
        text-decoration: none;
    }

}
.navbar_burger{
    display:none;
    
} 
.search_block{
    grid-area: search;
   
}

@media(max-width:1095px), (max-width:767px){
  

    .mobile_bar{
          display: none;
         
         
      }
     
    .navbar_menu{
        position: fixed;
        top: 0;
        right: 0;
        width: 50%;
        height: 40%;
        background-color: $menuBG_color;
        padding: 70px 10px 20px 10px;
        border: 1px solid red;
        transition-property: top ;
        
    }
  
    .navbar_list{
        display: block; 
    }
    
    .navbar_body{
        height: 50px;
        grid-template-areas: "logo search list ";
    }
    
    .navbar_logo{
        width: $width_logo_image_small;
        
       
    }
    .burger_wrapper{
        grid-area: list;
        display: flex;
        justify-content: flex-end;

    }
    /* иконка бургера */
    .navbar_burger{
        display:block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
        span{
            position: absolute;
            background-color: $burger_line_color;
            left: $burger_position_X;
            width: 100%;
            height: $burger_line_height;
            top: 9px;
        }
        
    } 
    .navbar_burger:before,
    .navbar_burger:after{
        content: '';
        background-color: $burger_line_color;
        position: absolute;
        width: 100%;    
        height: $burger_line_height;
        left: $burger_position_X;
    }
    .navbar_burger:before{
        top: 0;
    }
    .navbar_burger:after{
        bottom: 0;
        
    }
  /* иконка бургера */

    
}
