
$text_color:#ffffff;
$text_color_hover:#f1d906;
$text_size:20px;
$search_block_width:70px;



.search_block_container{
    position: relative;
z-index: 10;
display: flex;
.login_block{
    display: flex;
    ul{
        
    display: flex;
    
    align-items: center;
    justify-content: stretch;
    
}
    li{
        margin: 0 10px 0 10px;
        font-size:$text_size;
        color:$text_color;
    }
    li:hover{
        color:$text_color_hover;
        cursor: pointer;
        
    }

}
    a{color:$text_color;}
    a:hover{color:$text_color_hover;
   
    }

    .search_block{
    transition-duration: 0.7s;
    width: $search_block_width;
    height: 42px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    
    
        img{
        height: 16px;
        width: 16px;
        }

    

    }

.search_block i{
    z-index: 1;
    padding-left: 10px;
}
.search_block_input{
    z-index: 1;
    opacity: 0.5;
    
    transition-duration: 0.7s;
    width: 42px;
    height: 42px;
    text-align: left;
    
    
}

.search_block_input:focus {
    transition-duration: 0.7s;
    width: 190px;
    height: 42px;
    opacity: 1;  
    
}

}

