.BuyBlock_wrapper{
 display: flex;  
 flex-direction: column; 
}
    .real_price{    
        font: normal normal 700 32px sans-serif;
        .old_price{
            text-decoration:line-through;
            vertical-align: super;
            font: normal normal 700 20px sans-serif;
        }
    }
    .btn_wrapper{
        display: flex;
        justify-content:center;
        align-items: center;    
        margin:100px 0px 150px 0px; 
        .buyButton{
            margin:0px 20px 0px 0px; 
            color: white;
            text-transform: uppercase;;
            font: normal normal 700 24px sans-serif;

            display: block;
            width: 300px;
            height:50px ;
            border-radius: 10px;
            background-color: rgba(156, 26, 128, 1);
            
        }
        .buyButton:hover{
                        background-color: rgba(201, 46, 167, 0.6);
        }

    }


    .delivery{
        p{
           color: rgba(0, 0, 0, 1);
        span{
            color: #8b8b8b;        }   
    }

    }
    @media(max-width:1095px), (max-width:767px){
        .btn_wrapper{
            margin:10px 0px 15px 0px; 
        }



    }
    

