
*{
    padding: 0;
    margin:0;
}
.footer_wrap{
    padding-top: 12px;
    display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px 20px;

}



/* ---------------------------------------------------- */
article{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    .copiright,.social{
        display: flex;
        align-content: flex-start;
    }
}

article h4{
color: #ffffff; 
text-align: left;   
margin-bottom: 15px;
text-transform: uppercase;
}

.social{
    margin-top: 25px;
}
.footerLink, article > p {
    font-size: 12px;
    color: #FFFFFF;
    font-weight: 100;
    text-align: left;

}
.companyName > div{
    position: relative;
    
}

.companyName{
    text-align: left;
    color: #ffffff;
    
}
.social{
    display: flex;
    width: 100%;
    
}
.social_item{
    height: 32px;
    width: 32px;
    margin-right: 10px;
}
