
.slide_text{
    position:absolute;
    background-color: burlywood ;
    margin-top:25rem;
   margin-left:150px; 
    
}

.title{
    
    margin-top: 10px;
    font-family: Lato;
    font-size: 72px;
    line-height: 42px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #303030  ;
}
@media (max-width: 1366px) {

    .slide_text{
        margin-left:185px; 
    }
    .title{
        
      font-size: 62px;
  
      
  }
    }
@media (max-width: 1024px) {

    .slide_text{
        margin-left:165px; 
    }
    .title{
        
      font-size: 52px;
  
      
  }
    }
@media (max-width: 768px) {

        .slide_text{
            margin-left:165px; 
        }
        .title{
            
          font-size: 32px;
      
          
      }
        }
.description{
    font-family: Georgia;
line-height: 34px;
font-weight: 400;
font-style: italic;
letter-spacing: 0.05em;
color: #606060;
}
.button_cheking,.button_pause{

font-family: Lato;
font-size: 14px;
line-height: 42px;
font-weight: 400;
text-transform: uppercase;
letter-spacing: 0.05em;
color: #303030;
width: 229px;
height: 60px;
border: 1.0px solid #959595 ;
/* margin-top: 30px; */
}

.button_pause:hover,.button_cheking:hover{
    background-color: #30a789;
}
.button_pause,.button_cheking{
    position: absolute;
    top:80px;
    font-weight: 800;
    left:28px;
    background-color: rgba(182, 177, 110, 0.8)
}
.button_pause{
    width: 29px;
    left:0%;
    }
