$column_width:395px;
$column_width_mobile:360px;
$column_height:395px;
$icon_width:80px;
$icon_height:200px;
$heart_color:red;

.desk{
    
    width: 100%;
    max-width: inherit;
    display: grid;
      
    grid-template-areas:"info info" 
                         "item buyBlock";
    
}
.card_info{
    grid-area: info;
    width: 100%; 
}

.card_item{
    grid-area: item;   
    display:flex;
    justify-content: space-between;
    }

.buy_block{
    grid-area: buyBlock;
}
.zoom_item_mobile{
display: none;
}
.zoom_item{
    
    border: 1px solid rgba(179, 79, 79, 0);
    transition-duration: 0.1s;
    opacity: 1;
    
    img{
        
        display: block;
        width: 100%;
        max-width: $column_width;
       /*  max-height: $column_height; */
       border: 1px solid rgba(179, 79, 79, 1);
    }
    
}
.zoom_item:hover{
    
    transition-duration: 0.1s;
}
.select_items{
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.item_icon{
    border: 1px solid rgba(179, 79, 79, 0);
    opacity: 1;
    img{
        max-width: $icon_width;
        
        
    }
}
.item_icon:hover{
    border: 1px solid rgba(19, 18, 18, 1);
}

.zoom_item:hover{
transition-duration: 0.9s;
filter: brightness(100%);
}




@media(max-width:1095px), (max-width:767px){

    .zoom_item_mobile{
        display: block;
        img{
        display: block;
        max-width: $column_width_mobile;
        }
    }
    .zoom_item{
        display: none;
    }
    .card_item{
       flex-direction: column;
       align-items: center;
        }  
        .select_items{
            flex-direction: row;
            margin: 0;
        }
        .desk{
            grid-template-areas:"info" 
                                "item"
                                "buyBlock";
        }
   
        
  
}
