$column_width:295px;
$column_height:295px;

.gallery_wrapper{
    width: 100%;
    max-width: inherit;
    display: grid;
    grid-template-columns: repeat(4, $column_width); 
    grid-template-rows: repeat( 3, $column_width);
    
}
.offer_item{
    transition-duration: 0.9s;
    -webkit-filter: brightness(60%);
    max-width:$column_width;
    min-height: $column_height;
}
.offer_item:hover{
transition-duration: 0.9s;
 -webkit-filter: brightness(100%);
}

 .offer_item:first-child{
     
        grid-row-start: 1;
        grid-row-end: 3;
       
    }
.offer_item:last-child{
grid-column-start: 4;
grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 2;

}


@media(max-width:1095px){
   
    .gallery_wrapper{
        
        
        width: 100%;
        max-width: inherit;
        display: flex;
        flex-direction: column;
        min-width: $column_width;
        
    }
}
@media(max-width:767px){
  
    .gallery_wrapper{
        
        width: 100%;
        max-width: inherit;
        display: flex;
        flex-direction: column;
        min-width: $column_width;
        
    }
  
}